.aside {

    padding: 10px 0;

    grid-area: aside;

    @include flex {
        justify-content: space-around;
        align-items: center;
    }

    &__dashboard:hover,
    &__members:hover,
    &__visits,
    &__settings {
        cursor: pointer;
    }
}