.content{
    height: 100%;
    width: 100%;

    grid-area: content;

    @include flex($wrap: wrap){
        justify-content: space-between;
    }

    @include mq(tablet){
        height: calc(100vh - 100px);
        overflow: scroll;
    }    

    &__title{
        width: 110px;
        height: 60px;

        @include grid{
            justify-content: center;
            align-items: center;
        }

        text-align: center;
    }

    &__searchbox{
        height: 60px;

        display: inline-block;

        border-left: 1px solid color(white, x-dark);
        border-bottom: 1px solid color(white, x-dark);

        padding-right: 5px;

        flex-grow: 1;
        flex-basis: 100%;

        background:color(white, x-dark);

        @include flex {
            justify-content: center;
            align-items: center;
        }

        @include mq(tablet){
            @include flex {
                justify-content: flex-end;
                align-items: center;
            }
            flex-basis:auto;
        }

        input{
            @extend %input;
        }
    }
}