.content__main__boxes{
  @include flex($dir: column, $wrap:nowrap);
  @include mq(tablet){
    @include flex($dir: row, $wrap: wrap);
  }

  &--nm, &--ra, &--mu, &--set {
    flex-basis: 100%;
    height: 450px;

    border: 1px solid color(white, dark);

    @include mq(tablet){
      flex-basis: 50%;
    }
  }

  &--nm{
    border-left: 0;
    @include mq(tablet){
      border-right: 0;
      border-bottom: 0;
    }

    @include flex($dir:column){
      justify-content: center;
    }

    padding: 0 15px;

    &--header{
      font-size:1rem;
      font-weight: 400;
      margin-left: 10px;
      
      color:color(gray, x-light);
    }

    &--content{
      @include flex($dir: column){
        justify-content: space-around;
      }
    }

    &--user{
      @include flex{
        justify-content: flex-start;
        align-items: center;
      }

      padding: 25px 10px 25px;

      

      &--picture {
        @include picture;
      }

      &--info{
        @include push(right);
      }
    }

  } &--ra{
    border-right: 0;
  } &--mu{
    border-left: 0;
  } &--set{
    border-right: 0;
    @include mq(tablet){
      border-left: 0;
      border-top: 0;
    }
  }
}