.content__main__boxes{
  @include flex($dir: column, $wrap:nowrap);
  @include mq(tablet){
    @include flex($dir: row, $wrap: wrap);
  }

  &--nm, &--ra, &--mu, &--set {
    flex-basis: 100%;
    height: 450px;

    border: 1px solid color(white, dark);

    @include mq(tablet){
      flex-basis: 50%;
    }
  }

  &--nm{
    border-left: 0;
    @include mq(tablet){
      border-right: 0;
      border-bottom: 0;
    }

    @include flex($dir:column){
      justify-content: center;
    }

    &--header{
      @extend %box-title;
    }

    &--content{
      width: 100%;
      margin: 0 auto;
      @include flex($dir: column){
        justify-content: space-around;
      }
    }

    &--user{
      @include flex{
        justify-content: flex-start;
        align-items: center;
      }

      padding: 25px 10px 25px;

      border-bottom: 1px solid color(white, x-dark);

      &:last-of-type{
        border: 0;
      }

      &--picture {
        @include picture;
      }

      &--info{
        @include push(right);
      }
    }

  }
  
  &--ra{
    @include mq(tablet){
      border-right: 0;
    }

    @include flex($dir:column){
      justify-content: center;
    }

    &--header{
      @extend %box-title;
    }

    &--content{
      width: 100%;
      margin: 0 auto;
      @include flex($dir: column){
        justify-content: space-around;
      }
    }

    &--user{
      @include flex{
        justify-content: flex-start;
        align-items: center;
      }

      padding: 25px 10px 25px;

      border-bottom: 1px solid color(white, x-dark);

      &:last-of-type{
        border: 0;
      }

      &--picture {
        @include picture;
      }

      &--info{
        @include push(right);
      }
    }

  } 
  
  &--mu{
    border-left: 0;

    @include flex($dir: column){
      justify-content: center;
      align-items: center;
    }

    &--header{
      @extend %box-title;
      align-self: flex-start;
      margin-bottom: 25px;
    }

    &--content{
      input, textarea, button{
        display:block;
      }

      width: 80%;
      height: 70%;

      input{
        @extend %input;
        background: color(white, x-light);
        width: 100%;
        border-radius: 5px;

        &::placeholder{
          color:color(gray, x-light);
        }
      }

      textarea{
        margin: 15px 0;
        @extend %input;
        background: color(white, x-light);
        height: 200px;
        width: 100%;
        border-radius: 5px;
        resize: none;
      }

      button{
        width: 100%;
        @extend %button;
      }
    }
  } 
  
  &--set{
    border-right: 0;

    @include mq(tablet){
      border-left: 0;
      border-top: 0;
    }

    &--header{
      @extend %box-title;
      margin-top: 45px;
    }

    &--content{
      width: 90%;
      height: 73%;
      margin: 0 auto;

      @include flex($dir: column);

      &--public{
        margin: 25px 0;
      }

      &--emails{
        margin-top: 25px;
      }

      &--public, &--emails{
        @include flex{
          justify-content: space-between;
        }
      }

      &--timezone{
        margin-bottom: auto;

        select{
          @extend %pointer;
          width: 100%;

          padding: 5px 0;
          
          border: 0;
          border-radius: 5px;
        }
      }

      &--controls{
        &--save{
          background:color(blue, light);
        }

        button{
          width: 49%;
          @extend %button;
          @extend %pointer;
        }
      }
    }
  }
}