.content__main {

  @extend %full-area;

  &__alert{
    width: 95%;
    min-height: 40px;
    height: auto;

    margin: 15px auto;
    padding: 10px 10px;

    border: 2px solid color(red, dark);
    border-radius: 5px;

    background: color(red);

    @include grid($temp: 1fr / 30px 1fr){
      justify-content: center;
      align-items: center;
      grid-gap: 5px;
    }

    &--close{
      @include grid{
        justify-content: center;
        align-items: center;
      }
      svg{
        @extend %pointer;
        width: 9px;
        fill: $white;
      }
    }

  }


  &__charts{
    @include flex($wrap: wrap);
    &--traffic, &--dtraffic, &--mtraffic {
      canvas{
        margin-top: 15px;
        margin-bottom: 25px;
      }
    }

    &--traffic {
      width: auto;
      margin: 0 auto;

      &--header{
        @include flex;

        &--title{
          display: inline-block;
          flex-grow: 1;
        }

        &--timecontrol{
          display:inline-block;
          li{
            display:inline-block;

            padding: 3px 3px;
            border-radius: 3px;

            font-size: .75rem;
            
            &:hover{
              cursor: pointer;
              color:white;
              background:color(blue, dark);
            }
          }
        }
      }
    }
    &--dtraffic {
      width: auto;
      margin: 0 auto;
    }
    &--mtraffic {
      width: auto;
      margin: 0 auto;
    }
  }
}