.dashboard__header{
    text-align:center;

    padding: 15px 0;

    &__title{
        font-size: 1.4rem;
        font-weight: bold;
    }

    &__search {
        margin: 10px 0;
        position: relative;

        input{
            width: 80%;
            padding: 10px 10px 10px 15px;
            border: 0;
            border-radius: 5px;
        }

        svg {
            position: absolute;
            right: 10%;
            top: 50%;

            transform: translateY(-50%);

            width: 15px;
        }
    }

    
    &__alert{
        &--wrapper{
            background:$red;

            @include grid($temp: auto auto / 90%, $areas: "close" "message"){
                justify-content: center;
                align-items: center;
                grid-gap: 10px;
            }

            width:80%;
            margin: 0 auto;
            padding: 15px 0;

            border-radius: 5px;
            border-left: 3px solid color(red, x-dark);
            border-bottom: 3px solid color(red, x-dark);
        }
        &--message{
            grid-area: message;
            color: $white;
            text-align: left;
        }
        &--close{
            width: 8px;
            fill:$white;
            transition:fill .4s;
            &:hover{
                fill: color(gray, dark);
                cursor: pointer;
            }
        }
    }

}