@function color($color, $shade: base){
    @if map-has-key($map: $color-palette, $key: $color){
        @if map-has-key($map: map-get($color-palette, $color), $key: $shade){
            @return map-get($map: map-get($color-palette, $color), $key: $shade);
        }
        @else {
            @warn "#{$shade} was not found in #{$color}'s color-palette.";
        }
    }
    @else {
        @warn "#{$color} was not found in the color-palette.";
    }
}

@each $class, $font in $font__stacks{
    .#{$class}{
        font-family: $font;
    }
}

@each $class, $color in $font__colors {
    .#{$class}{
        color: $color;
        fill:$color;
    }
}

@each $class, $size in $font__sizes {
    .#{$class}{
        font-size: $size;
    }
}