@mixin flex($dir: row, $wrap: nowrap) {
    & {
        display: flex;
        flex-direction: $dir;
        flex-wrap: $wrap;
        @content;
    }
}

@mixin grid($temp: 1fr #{"/"} 1fr, $areas: none) {
    & {
        display: grid;
        grid-template: $temp;
        grid-template-areas: $areas;
        @content;
    }
}

@mixin mq($break) {
    @if map-has-key($map: $break-points, $key: $break) {
        & {
            @media only screen and (min-width: map-get($map: $break-points, $key: $break)) {
                @content;
            }
        }
    }

    @else {
        @warn "#{$break} key was not found in the break-points map.";
    }
}

@mixin picture($path: "../../images/member-1.jpg") {
    & {
        margin-right: 15px;
        width: 30px;
        height: 30px;
        background: url($path) no-repeat center center;
        background-size: cover;
        border-radius: 20px;
    }
}

@mixin push($dir) {
    @if $dir=="left" {
        & {
            margin-left: auto;
        }
    }

    @else {
        & {
            margin-right: auto;
        }
    }
}

@mixin listBorderBottom($color: color(white, x-dark)) {
    & {
        border-bottom: 1px solid $color;

        &:last-of-type {
            border: 0;
        }
    }
}