%pointer {
    &:hover {
        cursor: pointer;
    }
}

%input {
    width: 90%;
    height: 20px;

    background: url("../../images/SVG/finderglass.svg") no-repeat 98% center, color(white);
    background-size: 15px;

    justify-self: flex-end;

    padding: 15px 15% 15px 15px;

    border: 1px solid color(white, x-dark);
    border-radius: 5px;

    color: color(gray, x-light);

    &::placeholder {
        color: color(black);
    }

    &:active,
    &:focus {
        outline: none;
        border-bottom: 3px solid color(white, dark);
    }
}

%full-area {
    width: 100%;
    height: 100%;
}

%box-title {
    & {
        font-family: $font__stack--primary;
        font-size: 1rem;
        font-weight: 400;
        margin-left: 10px;
        color: color(gray, x-light);
    }
}