// =========================
// == Font Settings
// =========================

    // == Font Import
    @import "fonts";

    $font__stack--primary: "Roboto", sans-serif;
    $font__stack--secondary: "Helvetica Neue", Helvetica, serif;

    $font__stacks: (
        header__title: $font__stack--primary,
        header__profile__name: $font__stack--primary,
        content__title: $font__stack--primary,
        content__main__alert--message: $font__stack--primary,
    );

    $font__size--title: 1.1rem;
    $font__size--p: .8rem;

    $font__sizes: (
        header__title: $font__size--title,
        header__bell: $font__size--title,
        header__profile__name: $font__size--title,
        content__title: $font__size--title,
        content__main__alert--message: $font__size--p,
    );


// =========================
// == Colors
// =========================

    $black: #333;
    $gray: #666;
    $white: #eee;
    $blue: #0BB5FF;
    $red: #EA1744;
    $green: #007300;

    $font__color--primary: $white;
    $font__color--second: $gray;
    $font__color--third: $blue;

    $font__colors: (
        header__title: $font__color--primary,
        header__profile__name: $font__color--primary,
        header__bell: $font__color--primary,
        content__title: $font__color--second,
        content__main__alert--message: $font__color--primary,
    );

    $color-palette: (
        black: (
            light: lighten($black, 5%),
            x-light: lighten($black, 5%),
            base: $black,
            dark: darken($black, 5%),
            x-dark: darken($black, 5%),
        ),
        white: (
            light: lighten($white, 5%),
            x-light: lighten($white, 5%),
            base: $white,
            dark: darken($white, 5%),
            x-dark: darken($white, 5%),
        ),
        gray: (
            light: lighten($gray, 5%),
            x-light: lighten($gray, 5%),
            base: $gray,
            dark: darken($gray, 5%),
            x-dark: darken($gray, 5%),
        ),
        blue: (
            light: lighten($blue, 5%),
            x-light: lighten($blue, 5%),
            base: $blue,
            dark: darken($blue, 5%),
            x-dark: darken($blue, 5%),
        ),
        red: (
            light: lighten($red, 5%),
            x-light: lighten($red, 5%),
            base: $red,
            dark: darken($red, 5%),
            x-dark: darken($red, 5%),
        ),
        green: (
            light: lighten($green, 5%),
            x-light: lighten($green, 5%),
            base: $green,
            dark: darken($green, 5%),
            x-dark: darken($green, 5%),
        ),
    );

// =========================
// == Misc
// =========================
$break-points: (
    mobile: 320px,
    tablet: 768px,
    desktop: 1024px,
);