// ============================//
// = Font Settings ============//
// ============================//

// == Font Family ==

    // = Font Import =
    @import "fonts";

    // Fonts Family Variables

    $font__family--primary: "Roboto", sans-serif;
    $font__family--secondary: "Helvetica Neue", "Times New Roman", Helvetica, serif;

    $font__families: (
        h1: $font__family--primary,
        h2: $font__family--primary,
        h3: $font__family--primary,
        h4: $font__family--primary,
        h5: $font__family--primary,
        h6: $font__family--primary,
        p: $font__family--primary,
        a: $font__family--secondary,
    );

// == Font Weights ==

    $font__weights: (
        light: 300,
        normal: 400,
        bold: 700,
    );

// ============================//
// = Color Settings ===========//
// ============================//

    $black: #2d2d2d;
    $white: #eaeaea;
    $gray: #cccccc;
    $blue: #3b8bff;
    $green: #41d62b;
    $red: #e23b3b;

    $font__color--primary: $black;
    $font__color--secondary: $white;

    $color__palettes: (
        black: (
            x-dark: darken($black, 10%),
            dark: darken($black, 5%),
            base: $black,
            light: lighten($black, 5%),
            x-light: lighten($black, 15%),
        ),
        white: (
            x-dark: darken($white, 10%),
            dark: darken($white, 5%),
            base: $white,
            light: lighten($white, 5%),
            x-light: lighten($white, 15%),
        ),
        gray: (
            x-dark: darken($gray, 10%),
            dark: darken($gray, 5%),
            base: $gray,
            light: lighten($gray, 5%),
            x-light: lighten($gray, 15%),
        ),
        blue: (
            x-dark: darken($blue, 10%),
            dark: darken($blue, 5%),
            base: $blue,
            light: lighten($blue, 5%),
            x-light: lighten($blue, 15%),
        ),
        green: (
            x-dark: darken($green, 10%),
            dark: darken($green, 5%),
            base: $green,
            light: lighten($green, 5%),
            x-light: lighten($green, 15%),
        ),
        red: (
            x-dark: darken($red, 10%),
            dark: darken($red, 5%),
            base: $red,
            light: lighten($red, 5%),
            x-light: lighten($red, 15%),
        ),
    );

    $background__colors: (
        header: map-get(map-get($color__palettes, blue), $key: base),
        aside: map-get(map-get($color__palettes, blue), $key: dark),
    );

    $font__colors: (
        p: map-get(map-get($color__palettes, white), $key: base),
        h1: map-get(map-get($color__palettes, white), $key: base),
        h2: map-get(map-get($color__palettes, white), $key: base),
        h3: map-get(map-get($color__palettes, white), $key: base),
        h4: map-get(map-get($color__palettes, white), $key: base),
        h5: map-get(map-get($color__palettes, white), $key: base),
        h6: map-get(map-get($color__palettes, black), $key: base),
    );

    $svg__colors: (
        bell: map-get(map-get($color__palettes, white), $key: base),
        dashboard: map-get(map-get($color__palettes, white), $key: base),
        members: map-get(map-get($color__palettes, white), $key: base),
        visits: map-get(map-get($color__palettes, white), $key: base),
        settings: map-get(map-get($color__palettes, white), $key: base),
    );

// ============================//
// = Break Point Settings =====//
// ============================//

$break-points: (
    mobile: 320px,
    tablet: 768px,
    desktop: 1024px,
);